/*
STRUCTURE

-Variables and general styling
-Each React Component has its own section with this structure:
  -Desktop and initial styling
    -Element -> Class -> Elements in class -> class in class -> id
  -Conditionally applied classes
  -Medium/tablet styling
  -Mobile styling

*Smallest supported screen is an iPhone 4s (340px wide)


*/


//VARIABLES
$primary-clr: #454851;
$secondary-clr: #CB8B5A;
$third-clr: #1d1d1b;
$text-clr: #111;
$break-medium: 400px;
$break-large: 720px;


//GENERAL STYLING
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #121212;
}
html, body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1{
  font-size: 40px; 
  font-weight: 500;
}
h2{
  font-size: 32px;
  font-weight: 400;
}

p, li{
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}
ul{
  list-style: none;
}

@media screen and (max-width: $break-medium){
  h1{
    font-size: 38px; 
    font-weight: bold;
    margin: 0; 
  }
  h2{
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin: 0;
  }
  p{
    font-size: 17px;
  }
}


//NAVBAR
.navbar{
  background-color: $primary-clr;
  display: flex;
  align-items: baseline; 
  justify-content: space-around;
  height: 10vh;
  position: fixed; 
  top: 0; 
  left: 0;
  z-index: 5;
  width: 100%;
  a{
    color: $text-clr;
    font-size: 1.5em;
    text-decoration: none;
  }
  a:hover, .active{
    color: white;
    text-decoration: none;
  }
  .navbrand{
    font-size:200%;
    img{
      width: 40px;
      height: 40px;
      }
  }
}

.hamburger {
  display: none;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width: $break-medium){
  .navbar{
    align-items: center;
  }
  .hamburger{
    margin-top: 5px;
    display: inline-block;
    cursor: pointer;
    z-index: 2;
  }
  #ltp{
    display: none;
  } 
  .no-dropdown{
    display: none;
  }
  .dropdown{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 200%;
    background: $primary-clr;
    margin-top: 100px;
    width: 100vw;
    position: absolute; 
    a{
      font-size: 2em;
      font-weight: 400;
    }
  }
}


//BODY COMPONENTS
.body{
  padding-top: 10vh;
  height: 100vh;
}


//HOME
#home{
  font-weight: black;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  text-align: start;
  img{
    max-width: 100%;
    max-height: 60vh;
    height: auto;
    width: auto;
    flex-shrink: 3;
  }
  h1{
    font-size: 60px; 
    font-weight: 500;
    margin: 0;
  }  h2{
    padding: 0;
    margin: 0;
    color: $primary-clr;
  }
  .left-col{
    margin: 1em auto;
  }
  .right-col{
    width: 50%;
  }
}

@media screen and (max-width: 590px){
  #home{
    flex-flow: wrap;
    justify-content: space-between;
    height: 100%;
    img{
      max-height: 40vh; 
      margin: 2px auto 0px auto;
    }
    .right-col{
      width: 90%;
    }
  }
}


//TECH
#tech{
  background: $third-clr ;
  color: #fff;
  display: flex;
  justify-content: space-around;
  h1{
    color: #eee;
    margin: 0;
  }
  a, a:active{
    color: $secondary-clr ;
    text-decoration: none;
    cursor: pointer;
    font-weight: 100;
  }
  .disabled{
    color: #111;
    cursor: pointer;
    font-weight: 100;
  }
  a:hover, .disabled:hover{
    text-decoration: bold;
    color: #fff;
  }
  li{
    font-size: 30px;
    list-style-type: circle;
  }
  p {
    font-size: 26px;
    letter-spacing: 2px;
  }
  .right-col{
    p{
      color: $secondary-clr;
      font-style: italic;
    }
  }
  img{
    width: 45vw;
    height: auto;
}
.mininav-wrapper{
  background: $secondary-clr;
  border-radius: 10px 10px 0px;
  width: 350px;
  text-align: center;
}
}
@media screen and (max-width: $break-large){
  #tech{
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    .left-col{
      width: 70vw;
      margin: 0px auto;
    }

    img{
      width: 80vw;
      margin: 0 7.5vw;
    }
    .right-col{
      p{
        font-size: 16px;
        text-align: center
      }
    }
    h1{
    font-size: 32px;
    }
    li{
      font-size: 22px;
    }
    .mininav-wrapper{
      width: 250px;
    }

  }
}
@media screen and (max-width: $break-medium){
  #tech{
    height: 80vh;
    h1{
      font-size: 30px;
    }
    li{
      font-size: 18px;
    }
    ul{
      margin-left: -20px;
      }
      img{
      width: 80vw;
      }
    
  }

}


//PORTFOLIO
#portfolio{
  background: $third-clr;
  .header{
     font-size: 4vw;
     margin: 0 auto 2px 5vw;
  }
  .jumbo{
    width: 90vw;
    margin: auto;
    display: flex;
    align-items: space-around;
  }
  h1{
    color: $secondary-clr; 
  }
  a{
    color: #000; 
    text-decoration: none;
  }
  a:hover{
    color: #fff;
  }
  img{
    border-radius: 10px;
  }
  .left-col{
    background: #eee;
    width: 20%;
    font-size: 2.4vw;
    border-right: 7px solid $third-clr;
    padding: 0 2vw;
  }
  .disabled{
    color: $third-clr;
    text-decoration: none;
    cursor: pointer;
    font-weight: 100;
  }
  .disabled:hover{
    color: $secondary-clr;
  }
  .right-col{
    background: $secondary-clr;
    width: 80%;
    color: white;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    }

    //IF WEBSITES

  .portfolio-wrapper{
    max-width: 400px;
    position: relative;
    flex-shrink: 2;

      a{
        text-align: center;
        color: #fff;
        text-decoration: none;
      }
      img{
        max-width: 100%;
      }
    }
      //this creates the hover effect for the portfolio images
    .link-wrapper{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      background: $text-clr;
      border-radius: 10px;
      p{ 
        color: #fff;
        top: 50%;
        left: 50%;
        position: absolute;
        text-align: center;
      }
    }
  img{
    display: block;
    opacity: 1;
    transition: .5s ease;
  }
  .portfolio-wrapper:hover img{
    opacity: 0.4;
  }
  .portfolio-wrapper:hover .link-wrapper{
    opacity: 1;
  }

  //IF PROJECTS
  .grid{
    background: $secondary-clr;
    width: 80%;
    color: white;
    height: 80vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
  }
  .proj-wrapper{
    img{
      float: left;
      max-width: 200px;
      max-width: 200px;
      height: auto;
      width: auto;
    }
    p{
      margin-top: 10px;
      font-size: 20px;
    }
    span{
      font-weight: bold;
      font-size: 30px;
    }
  }
  img:hover{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(255,255,255,0.75);
    box-shadow: 0px 0px 10px 2px rgba(255,255,255,0.75);
  }
}
//tablet and small computer breaks
@media screen and (max-width: 860px){
  #portfolio{
    .header{
      font-size: 5.5vw;
      margin: 0px auto auto 2.5vw;
      position: absolute;
      color: white;
   }
   background-color: $secondary-clr;
   color: green !important;

    .jumbo{
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-color: $secondary-clr;
    }
    .left-col{ //now top row
      width: 50vw;
      text-align: center;
      margin:  0 0 0 auto;
      background-color: $secondary-clr;
      border: 0;
      display: flex;
      justify-content: space-around;
      h1{
        color: white;
        font-weight: 200;
        text-decoration: underline;
      }
      .disabled{
        color: black;
        text-decoration: none;
      }
    }
    .right-col, .grid{ //now bottom row
      background-color: inherit;
      color: $secondary-clr;
      font-size: 10px;
      width: 100vw;
      height: 90vh;
      padding: 2vw;
    }
    h1{
      font-size: 1.6rem;
      display: inline-block;
      margin: 5px 10px;
    }
    .proj-wrapper img{
      max-width: 175x;
      max-width: 175px;
    }
    p{
      font-size: 18px;
    }
  }
}
@media screen and (max-width: 640px){
  #portfolio {
    .right-col{
      padding: 0;
      width: 95vw;
    }
    .proj-wrapper{
      p{ font-size: 16px;}    
      span{ font-size: 24px;}
      img{ 
        float: none;
        width: 150px;
        height: 150px;
      }
    }
  }
}

@media screen and (max-width: 450px){
#portfolio{ 
  .left-col{
      white-space: nowrap;
    }
    .proj-wrapper{
      img{
        width: 125px;
        height: 125px;
      }
    }
  }
}

//BEGIN ABOUT STYLING
#about{
  display: block;
  width:80vw;
  margin: 20px auto;
  padding: 0;
  span{
    font-weight: bold;
    cursor: pointer;
    color: $secondary-clr;
    font-size: 1em;
  }
}
.long{
  height: 140vh;
}
@media screen and (max-width: $break-large){
  #about{
    width: 90vw;
}
.long{
  height: 160vh;
  p{font-size: 18px !important;}
  }
}
@media screen and (max-width: $break-medium){
  .long{
  height: 170vh;
}
}


//BEGIN CONTACT STYLING
#contact{
  height: 70vh;
  background: $third-clr;
  color: #fff;
  a{
    color: $secondary-clr;
    text-decoration: none;
  }
  a:hover{color: #fff}
  .jumbo{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 80vw;
  }
  .left-col{
    width: 50%;
  }
  .right-col{
    text-align: center;
  }
  img{
    height: 250px;
    width: auto;
    border: 10px solid #000;
    border-radius: 50%;
  }
  img:hover{
    border: 10px solid $primary-clr;
  }
  #flaunt{
    text-align: center;
    font-size: 14px;
    color: #999
  }
}
@media screen and (max-width: $break-large){
  #contact .jumbo{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    img{
      height: 200px;
    }
    .left-col{ //now bottom row
      width: 100%;
      text-align: center;
    }
  }
}

//END CONTACT STYLING
//BEGIN FOOTER STYLING
footer{
  background-color:#343434;
    color:black;
    height: 10vh;
  border-radius:5px 5px 0 0;
  box-shadow: 0 0 0 4px  $third-clr; //hides white background exposed by border-radius
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 3;
  .fa {
    text-align: center;
    background: black;
    color: white;
    padding: 4px;
    margin: 5px 2px;
    border-radius:5px;
    }
    .fa:hover {
    color:black;
    background: white;
    text-decoration: none;
    }
}

