.navbar{
  background-color: #454851;
  display: table;
  height: 10vh;
  position: fixed; 
  top: 0; 
  left: 0;
  z-index: 5;
  width: 100%;
}

.navbrand{
  display: table-cell;
  font-size:200%;

}
.navbrand img{
  width: 40px;
  height: 40px;
  display: inline-block;
  }
.link-ctr{
  display: table-cell;
  margin-left: auto;
}


footer{
  background-color:#bbb;
    color:black;
  border-radius:5px;
}
.fas, .fab, .fa {

  font-size: 30px;
  text-align: center;
  background: black;
  color: white;

  padding: 4px;
  margin: 5px 2px;
  border-radius:5px
}
.fas:hover, .fab:hover, .fa:hover {
 opacity:0.7;
 color:black;
 background: white;
 text-decoration: none;
}