$primary-clr: #454851;
$secondary-clr: #262424;
$text-clr: #111;
$break-medium: 400px;
$break-large: 720px;

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #121212;

}
html {
  scroll-behavior: smooth;
}
//END MAJOR STYLING AND VARIABLE DECLARATIONS


//BEGIN NAVBAR STYLING
.navbar{
  background-color: $primary-clr;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  height: 10vh;
  position: fixed; 
  top: 0; 
  left: 0;
  z-index: 5;
  width: 100%;
  a{
    color: $text-clr;
    font-size: 1.5em;
  }
  a:hover, .active{
    color: white;
    text-decoration: none;
  }
  .navbrand{
    font-size:200%;
    img{
      width: 40px;
      height: 40px;
      }
  }
}

.hamburger {
  display: none;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width: $break-medium){
  .navbar{
    align-items: flex-start;
  }
  .hamburger{
    display: inline-block;
    cursor: pointer;
  }
  #ltp{
    display: none;
  } 
  .no-dropdown{
    display: none;
  }
  .dropdown{
    display: flex;
    flex-wrap: wrap;
    height: 30vh;
    top: 0;
    background: $primary-clr; 
    a{
      width: 100%;
    }
  }
  
}
// END NAVBAR STYLING

//BEGIN BODY STYLING
.body{
  padding-top: 10vh;
  height: 90vh;
}
//END BODY STYLING

//BEGIN HOME STYLING
#home{
  font-weight: black;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  img{
    max-width: 100%;
    max-height: 60vh;
    height: auto;
    width: auto;
    flex-shrink: 3;
  }
  .left-col{
    margin: 1em auto
  }
  .right-col{
    text-align: center
  }
}
@media screen and (max-width: $break-medium){
  #home{
    flex-flow: wrap;
    img{
      max-height: 40vh; 
      margin: 2px;
    }
  }
}
//END HOME STYLING

//BEGIN FOOTER STYLING
footer{
  background-color:#343434;
    color:black;
    height: 10vh;
  border-radius:5px 5px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 3;
  .fa {
    text-align: center;
    background: black;
    color: white;
    padding: 4px;
    margin: 5px 2px;
    border-radius:5px;
    }
    .fa:hover {
    color:black;
    background: white;
    text-decoration: none;
    }
}

